:root {
    --orange : #e87303;
    --white : #ffffff;
    --white-dark : #fff6ec;
    --black : #000;
}

@font-face {
    font-family: "Permanent marker";
    src: url("src/Permanent_Marker/PermanentMarker-Regular.ttf")
}

* {
    font-family: roboto;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Permanent marker";
    font-weight: 300;
}

h2 {
    font-size: 50px;
    color: var(--orange);
}

h3 {
    font-size: 32px;
}

h2, h3 {
    text-align: center;
}

section {
    padding: 50px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;

}
