:root {
    --orange : #e87303;
    --white : #ffffff;
    --white-dark : #fff6ec;
    --black : #000;
}

@font-face {
    font-family: "Permanent marker";
    src: url("src/Permanent_Marker/PermanentMarker-Regular.ttf")
}

* {
    font-family: roboto;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Permanent marker";
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: var(--white);
    text-shadow: #000 0px 0px 100px;
    font-size: 65px;
}

h2 {
    font-size: 50px;
    color: var(--orange);
}

h3 {
    font-size: 32px;
}

h2 {
    text-align: center;
}

h4 {
    font-size: 20px;
}

section {
    padding: 50px 10px;
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.half {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#hero {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url("../img/groupe.webp");
    background-size: cover;
    background-position: center;
    align-items: center;
}

#presentation img {
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: left;
}

#presentation_paragraphe {
    flex: 2;
}

.question_container {
    display: block;
    background-color: var(--white-dark);
    border: 1px solid #ffe6dC;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.question_container .question {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question_container img {
    stroke: #000;
    height: 100%;
    width: auto;
    transform: rotate(180deg);
    transition-duration: 0.3s;
}

.question_container.closed img {
    transform: rotate(0deg);
}

.reponse {
    overflow: hidden;
    max-height: 1000px;
    transition: 3s ease-out;
}

.closed .reponse {
    max-height: 0px;
}

@media screen and (max-width: 800px) {
    .split {
        flex-direction: column-reverse;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }
}