:root {
    --orange : #e87303;
    --white : #ffffff;
    --white-dark : #fff6ec;
    --black : #000;
}

@font-face {
    font-family: "Permanent marker";
    src: url("src/Permanent_Marker/PermanentMarker-Regular.ttf")
}

* {
    font-family: roboto;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Permanent marker";
    font-weight: 300;
}

h2 {
    font-size: 50px;
    color: var(--orange);
}

h3 {
    font-size: 32px;
}

h2, h3 {
    text-align: center;
}

section {
    padding: 50px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;

}

.half {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third {
    min-width: 100px;
    flex: 1;
}

.button_style {
    padding: 12px 90px;
    background-color: var(--orange);
    border-radius: 12px;
    color: var(--white);
    font-size: 32px;
    text-align: center;
}

#hero {
    background-image: url("img/mont-st-michel.webp");
    background-size: cover;
    height: 500px;
    max-height: 80vh;
    display: flex;
    align-items: center;
    max-width: 3000px;
}

#hero_title {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: var(--white);
    text-shadow: #000 0px 0px 100px;
}

#presentation {
    background-color: var(--white-dark);
}

#presentation h2 {
    text-align: left;
}

#presentation .button_style {
    margin-top: 50px;
}

#envie_habiter .third {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#envie_habiter img {
    max-width: 100%;
    width: 150px;
    aspect-ratio: 1/1;
}

#envie_habiter h3 {
    font-weight: 500;
}

#activites {
    background-color: var(--white-dark);
}

#activites .button_style {
    margin-top: 20px;
}

#blog .button_style {
    margin-top: 50px;
}

.article {
    border: #ccc 1px solid;
    border-radius: 12px;
    overflow: hidden;
    color: var(--black);
}

.article p {
    padding: 12px;
    margin: 0px 0px 0px 10px;
}

.article .image {
    overflow: hidden;
    aspect-ratio: 3/2;
}

.article img {
    transition: transform 0.5s;
}

.article:hover img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

#deviens_missionnaire {
    background-color: var(--white-dark);
}

#map iframe{
    max-width: 100%;
}

/*responsive*/
@media screen and (max-width: 800px) {
    .split {
        flex-direction: column;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 13px;
    }

    h1, h2, h3, p {
        margin-left: 10px;
        margin-right: 10px;
    }

    .button_style {
        font-size: 18px;
        padding: 12px 24px;
    }

    #envie_habiter {
        display: none;
    }

    #blog .article {
        display: flex;
        flex-direction: row;
    }

    #blog .article > div {
        flex: 1;
    }

    #blog .image {
        aspect-ratio: 3/2;
    }
}