:root {
    --orange : #e87303;
    --white : #ffffff;
    --white-dark : #fff6ec;
    --black : #000;
}

footer {
    background-color: var(--orange);
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.third {
    min-width: 100px;
    flex: 1;
}

footer .third {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#footer_logo {
    margin: auto;
}

footer img {
    width: 100%;
    height: auto;
    align-self: center;
    margin: 10px;
}

footer h2, footer p, footer a {
    color: var(--white);
    text-align: left;
}

footer a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 24px;
    margin-bottom: 40px;
    align-items: center;
}

footer .third .icone {
    height: 26px;
    width: auto;
}

@media screen and (max-width: 800px) {
    footer a {
        font-size: 20px;
    }
}